
<app-header-navigation></app-header-navigation>

<!-- ================ start banner Area ================= -->
<section class="banner-area">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-12 banner-right">
        <h1 class="text-white">
          Content
        </h1>
        <p class="mx-auto text-white  mt-20 mb-40">
          Video tutorials and 3D models.
        </p>
        <div class="link-nav">
						<span class="box">
							<a href="home">Home </a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="theory_main">Theory</a>
              <i class="lnr lnr-arrow-right"></i>
							<a href="theory_main">Content</a>
						</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================ End banner Area ================= -->


<div style="height: 700px;">
  <as-split direction="horizontal">
    <as-split-area [size]="30">
      <div class="col-lg-12 course-details-left">
        <div class="content-wrapper">
          <h4 class="title">Course Outline</h4>
          <div class="content">
            <ul class="course-list">
              <li class="justify-content-between d-flex">
                <p>Introduction Lesson</p>
                <a class="btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Basics of HTML</p>
                <a class="btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Getting Know about HTML</p>
                <a class="btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Tags and Attributes</p>
                <a class="btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Basics of CSS</p>
                <a class="btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Getting Familiar with CSS</p>
                <a class="btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Introduction to Bootstrap</p>
                <a class="btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Responsive Design</p>
                <a class="btn text-uppercase" href="#">View Details</a>
              </li>
              <li class="justify-content-between d-flex">
                <p>Canvas in HTML 5</p>
                <a class="btn text-uppercase" href="#">View Details</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </as-split-area>
    <as-split-area [size]="70">
      <div class="card">
        <div class="card-body">
          <iframe width="720" height="480"
                  src="https://www.youtube.com/embed/iAxNgI9NrNw">
          </iframe>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">How to use the Spherometer</h4>
          <h6 class="card-subtitle">Unit 01</h6>
          <ngb-tabset>
            <ngb-tab>
              <ng-template ngbTabTitle><b>Description</b></ng-template>
              <ng-template ngbTabContent>
                <p class="p-t-20">Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                  craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                  cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                  yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                  shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
                  sint qui sapiente accusamus tattooed echo park.</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle><b>Info</b></ng-template>
              <ng-template ngbTabContent>
                <p class="p-t-20">bbbbExercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                  craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                  cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                  yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                  shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
                  sint qui sapiente accusamus tattooed echo park.</p>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </as-split-area>
  </as-split>

</div>

