<div class="omni-calculator" data-calculator="physics/free-fall" data-width="300" data-config='{"g":{"label":"gravity"}}' data-currency="LKR" data-show-row-controls="false" data-version="3" data-t="1609498190703">
  <div class="omni-calculator-header">Free Fall Calculator</div>
  <div class="omni-calculator-footer">
    <a href="https://www.omnicalculator.com/physics/free-fall" target="_blank"><img alt="Omni" class="omni-calculator-logo" src="https://cdn.omnicalculator.com/embed/omni-calculator-logo-long.svg" /></a>
  </div>
</div>

