
<app-header-navigation></app-header-navigation>

<!-- ================ start banner Area ================= -->
<section class="banner-area">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-12 banner-right">
        <h1 class="text-white">
          Calculators
        </h1>
        <p class="mx-auto text-white  mt-20 mb-40">
          Calculators designed for physics
        </p>
        <div class="link-nav">
						<span class="box">
							<a href="home">Home </a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="theory_main">Calculators</a>
						</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================ End banner Area ================= -->

<div class="page-wrapper">
  <div class="container-fluid">
    <div class="card-container">
      <div class="omni-calculator" data-calculator="physics/free-fall" data-width="300" data-config='{}' data-currency="LKR" data-show-row-controls="false" data-version="3" data-t="1609498893990">
        <div class="omni-calculator-header">Free Fall Calculator</div>
        <div class="omni-calculator-footer">
          <a href="https://www.omnicalculator.com/physics/free-fall" target="_blank"><img alt="Omni" class="omni-calculator-logo" src="https://cdn.omnicalculator.com/embed/omni-calculator-logo-long.svg" /></a>
        </div>
      </div>
      <script async src="https://cdn.omnicalculator.com/sdk.js"></script>


      <div class="omni-calculator" data-calculator="physics/range-projectile-motion" data-width="300" data-config='{}' data-currency="LKR" data-show-row-controls="false" data-version="3" data-t="1610298201050">
        <div class="omni-calculator-header">Projectile Range Calculator</div>
        <div class="omni-calculator-footer">
          <a href="https://www.omnicalculator.com/physics/range-projectile-motion" target="_blank"><img alt="Omni" class="omni-calculator-logo" src="https://cdn.omnicalculator.com/embed/omni-calculator-logo-long.svg" /></a>
        </div>
      </div>
      <script async src="https://cdn.omnicalculator.com/sdk.js"></script>

      <div class="omni-calculator" data-calculator="physics/coulombs-law" data-width="300" data-config='{}' data-currency="LKR" data-show-row-controls="false" data-version="3" data-t="1610298448074">
        <div class="omni-calculator-header">Coulomb&#39;s Law Calculator</div>
        <div class="omni-calculator-footer">
          <a href="https://www.omnicalculator.com/physics/coulombs-law" target="_blank"><img alt="Omni" class="omni-calculator-logo" src="https://cdn.omnicalculator.com/embed/omni-calculator-logo-long.svg" /></a>
        </div>
      </div>
      <script async src="https://cdn.omnicalculator.com/sdk.js"></script>

    </div>
  </div>
</div>
